.cocktail-card {
  width: 250px !important;
  min-width: 400px !important;
  margin: 10px;
}

.filter {
  width: 100%;
  margin-bottom: 20px;
}

.badge:after{
  content: '|';
}
.badge:last-child::after{
  content: '';
}

